body {
	font-size: 14px;
	font-size: 1rem;
	font-family: Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	color: #444;	
	background-color:#b0c4de;
}
hr {color:sienna;}
p {
  text-indent:50px;
	margin-left:20px;
}
p.date {text-align:right;}
p.main {text-align:justify;}
p.uppercase {text-transform:uppercase;}
p.lowercase {text-transform:lowercase;}
p.capitalize {text-transform:capitalize;}
p.big {line-height:200%;}

a {text-decoration:none;}
h3
{
color:red;
text-align:left;
font-size:8pt;
}
div {background-color:#c0d0de;}
div.spread {letter-spacing:4px; color:black;}

h1 {
color: #2778ec;
font-family: "Segoe UI", "verdana";
font-size: 38pt;
font-weight: 300;
margin-bottom: 20px;
vertical-align: bottom;
position: relative;
}
h2 {color:rgb(255,120,240);}
